<div class="messageBox">
  <div class="chatBox">
    <div *ngIf="messages$ | async as groupedMessages" class="chatContent">
      <!-- Iteriere über die Gruppierungen nach Datum -->
      <div *ngFor="let group of groupedMessages | keyvalue : sortByDate">
        <!-- Datum anzeigen -->
        <div class="dateWrapper">
          <div class="lineDate"></div>
          <div class="dateHeader">
            <span>{{ group.key | date : "EEEE, dd MMMM yyyy" }}</span>
          </div>
          <div class="lineDate"></div>
        </div>

        <!-- Nachrichten für dieses Datum anzeigen -->
        <div
          *ngFor="let message of group.value"
          class="chatText"
          (mouseenter)="onMouseEnter(message.id)"
          (mouseleave)="onMouseLeave()"
        >
          <small>{{ message.timestamp | date : "HH:mm" }}</small>
          <small>Sender: {{ message.sender.username }}</small>
          <p>{{ message.content }}</p>

          <!-- Drei-Punkte-Menü, erscheint beim Hover -->
          <div
            class="menu"
            (mouseover)="hoveredMessageId = message.id"
            (mouseleave)="hoveredMessageId = null"
          >
            <!-- Dot wird nur angezeigt, wenn die Nachricht gehovt wird -->
            <span
              class="dot"
              *ngIf="hoveredMessageId === message.id"
              (click)="toggleMenu(message.id)"
            >
              <img src="assets/img/3dot.svg" alt="" />
            </span>

            <!-- Menü für Bearbeitung und Reaktionen -->
            <div
              class="menu-content"
              *ngIf="hoveredMessageId === message.id && menuVisible"
            >
              <button (click)="editMessage(message, conversationId)">
                Bearbeiten
              </button>
              <button (click)="deleteMessage(message, conversationId)">
                Löschen
              </button>
              <button (click)="addReaction(message)">
                Reaktion hinzufügen
              </button>
            </div>
          </div>
          <small>Status: {{ message.isRead ? "Read" : "Unread" }}</small>
        </div>
      </div>

      <!-- Keine Nachrichten -->
      <ng-template #noMessages>
        <p>Keine Nachrichten vorhanden.</p>
      </ng-template>
    </div>
  </div>
  <app-message-input></app-message-input>
</div>
