
<div [hidden]="!addMemberVisible">
  <div class="backdrop" (click)="onBackdropClick($event)">
    <div
      class="dialog menu"
      #dialog
      [@slideMenu]="addMemberVisible ? 'visible' : 'hidden'"
    >
      <div class="btn-close-box" (click)="close()">
        <button class="unbuttonize btn-close rectangle"></button>
      </div>
      <div>
        <span>Leute hinzufügen</span>
        <img src="/assets/img/close.svg" alt="">
      </div>
      <div>
        <img src="" alt="Radio Button">
        <span>Alle Mitglieder von OfficeTeam hinzufügen</span>
      </div>
      <div>
        <img (click)="" src="" alt="Radio Button">
        <span>Bestimmte Leute hinzufügen</span>
        <div class="dialog-add-member">
          <!--  search member component -->
        </div>
      </div>
      <div>
        <button class="unbuttonize">Erstellen</button>
      </div>
    </div>
  </div>
</div>
