<section>
  <div class="reset-Password-container">
    <div>
      <a href="/auth/log-in">
        <div class="btn-return"></div>
      </a>
      <span class="header">Passwort zurücksetzen</span>
      <span class="sub-header"> Bitte geben Sie ihre E-Mail-Adresse ein. </span>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Password 1 Input Field -->
      <div class="form-group">
        <div class="form-input-box">
          <img
            class="input-icon"
            [class.touched]="
              resetPasswordForm.get('password')?.dirty || passwordFocused
            "
            src="/assets/img/lock.svg"
            alt="Password-Symbol"
          />
          <input
            placeholder="Passwort"
            type="password"
            id="password"
            formControlName="password"
            class="form-control bubble-form-input"
            autocomplete="off"
            (focus)="passwordFocused = true"
            (blur)="passwordFocused = false"
          />
        </div>
      </div>
      <!-- Password 2 Input Field -->
      <div class="form-group">
        <div class="form-input-box">
          <img
            class="input-icon"
            [class.touched]="
              resetPasswordForm.get('passwordConfirmation')?.dirty || passwordFocused
            "
            src="/assets/img/lock.svg"
            alt="Password-Symbol"
          />
          <input
            placeholder="Passwort"
            type="password"
            id="passwordConfirmation"
            formControlName="passwordConfirmation"
            class="form-control bubble-form-input"
            autocomplete="off"
            (focus)="passwordFocused = true"
            (blur)="passwordFocused = false"
          />
        </div>
      </div>
      <!-- Submit Button -->
      <div class="button-box">
        <button
          type="submit"
          class="bubble-full-button btn-fit-size submit-button"
          [disabled]="resetPasswordForm.invalid"
        >
          E-Mail senden
        </button>
      </div>
    </form>
  </div>
</section>
