<section>
  <div class="direct-message-list-header">
    <button class="unbuttonize hide-button" (click)="toggleList()" [class.rotated]="!isOpen"><img src="/assets/img/arrow_drop_down.svg" alt="Ausblenden" /></button>
    <img src="/assets/img/account_circle.svg" alt="Profil" />
    <p>Direktnachrichten</p>
  </div>
  @if (isOpen) {
    <div class="direct-message-list-container">
      @if (directMessageList) {
        @for (chat of directMessageList; track $index) {
          <div id="{{ chat.id }}" class="direct-message-item">
            <div class="avatar-box">
              <img class="avatar-img" src="{{ chat.participants[0].avatarUrl }}" alt="Profil-Avatar" />
              <img class="status-symbol" src="/assets/img/status_online_unknown.svg" alt="Statusanzeige" />
            </div>
            <p>{{ chat.participants[0].username }}</p>
          </div>
        }
      }
      @else {
      <p>Keine Direktnachrichten vorhanden</p>
      }
    </div>
  }
</section>


