<div class="message-container">
  <form (ngSubmit)="sendMessage()">
    <div>
      <input
        [(ngModel)]="formInputValues"
        type="text"
        placeholder="Nachricht an Member"
      />
      <span class="underline"></span>
    </div>
    <div class="icons-container">
      <div class="icons">
        <button class="plus-icon-btn">
          <img src="assets/img/add reaction.png" alt="" class="plus-icon" />
        </button>
        <div><img src="assets/img/Vector 4.png" alt="" /></div>
        <button>
          <img src="assets/img/sentiment_satisfied.png" alt="" class="smiley" />
        </button>
        <button>
          <img src="assets/img/alternate_email.png" alt="" class="hash-email" />
        </button>
      </div>
      <div class="send-btn">
        <button>
          <img src="assets/img/send.png" alt="" class="send-img" />
        </button>
      </div>
    </div>
  </form>
</div>
