section {
  background-color: #FFFFFF;
}

.thread-message-card-content {
  background-color: #ECEEFE;
  min-width: 328px;
  gap: 8px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 15px;
  > p {
    font-family: "nunito";
    font-weight: 400;
    font-size: 17px;
  }
}
