<section>

  <header>
    <p># Entwicklerteam</p>
    <button class="unbottunize">
      <img src="" alt="">
    </button>

    <button>
      <img src="" alt="add member">

    </button>
  </header>
  <div id="channel-thread-list-container" *ngIf="channelThreads$ | async as threads; else loading">
    <pre>{{ channelThreads$ | async | json }}</pre>
    <div id="channel-thread-list" *ngFor="let thread of threads">
      <div [id]="thread.id" class="thread-message-card">
        <p>{{ thread.creator }}</p>
        <p> {{ thread.createdAt }}</p>
        <p>{{ thread.firstMessage?.content }}</p>
        <div *ngIf="thread.numberOfMessages > 0">
          <p>{{ thread.numberOfMessages }} Antworten</p>
          <p> Letzte Antwort {{ thread.updatedAt | date: 'fullDate' }} {{ thread.createdAt | date:'shortTime' }}</p>
        </div>
        <p> </p>
      </div>
    </div>
  </div>
  <ng-template #loading>

      <p>Loading threads...</p>

  </ng-template>


<div id="message-input">
  <app-channel-main-chat-input (newChannelThreadId)="receiveCreatedChannelThreadId($event)" [activeUser]="currentUser" [activeChannelId]="activeChannelId" ></app-channel-main-chat-input>
</div>

</section>

