

<app-profil-edit #profilEditDialog ></app-profil-edit>
<div [hidden]="!profilVisible">
  @if (currentUser && !profilEditDialog.isVisible) {
  <div class="profil-modal" #profilDialog>
    <div class="profil-header">
      <span>Profil</span>
      <img class="close-btn" (click)="close()" [src]="closeIconPath" alt="" />
    </div>
    <div class="profil-avatar-box">
      @if (currentUser.photoURL) {
      <img src="{{ currentUser.photoURL }}" alt="" />
      } @else {
      <img src="/assets/img/profile.svg" alt="" />
      }
    </div>
    <div class="profil-info-box">
      <div class="profil-name-box">
        <span>{{ currentUser.displayName }}</span>
        @if (isUser) {
          <div class="edit-btn" (click)="openProfilEdit(); changeEditImage()" >
            <img [src]="editImageURL" alt="Dynamic Image"/>
          </div>
        }
      </div>
      <div class="status">
        <div [ngClass]="{ 'status-activ': isActive}" class="status-circle"></div>
        <Span>{{ userStatus }}</Span>
      </div>
      <div class="email-box">
        <div>
          <img src="/assets/img/mail-black.svg" alt="" />
          <span>E-Mail-Adresse</span>
        </div>
        <span>{{ currentUser.email }}</span>
      </div>
    </div>
    @if (isMember) {
      <div class="bubble-full-button message-btn">
        <img src="/assets/img/mode_comment.svg" alt="">
        <span>Nachricht</span>
      </div>
    }
  </div>
  }
</div>
