@import '../../../styles/_breakpoints.scss';

.profil-modal {
  max-width: 500px;
  max-height: 704px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0px 6px 10px 0px #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 38px;
  @include xs {
    max-width: 398px;
    min-width: 320px;
    max-height: 708px;
    width: 100%;
  }
}

.profil-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > span {
    font-size: 24px;
    font-weight:700
  }
  > .close-btn {
    width: 24px;
    height: 24px;
  }
}

.profil-input-box {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  > .profil-name-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    > span {
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.profil-avatar-box {
  max-height: 200px;
  height: 100%;
  > img {
    height: 200px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  gap: 20px;
}

.form-input-box {

  display: flex;
  align-items: center;

  @include xs {
    max-width: 358px;
    width: 100%;
  }
  > input {
    padding-left: 25px;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    font-family: 'Nunito';
    outline: 0;
    &:active {
      color: black;
      outline: 0;
      border: 1px solid #535AF1 !important;
    }
  }
  > input::placeholder {
    color: #686868;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
  }
}

.button-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-control:hover {
  border: 1px solid #686868;
}

.form-control:focus {
  outline: 0;
  border: 1px solid #535AF1 !important;
}

img.input-icon.touched {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.error {
  color: #ED1E79;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
}

.background-unset {
  background-color: unset;
}

.btn-fit-size {
  max-width: fit-content !important;
}

.info-box {
  > span {
    font-size: 20px;
    color: #686868;
    font-weight: 400;
    text-align: center;
  }
}

.submit-button:disabled {
  background-color: #686868;
  color: white;
  cursor: not-allowed;
}
.error {
  color: #ED1E79;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
}

.form-input-label-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.bg-white-border-bubbelblue {
  background-color: white !important;
  border: 1px solid #ADB0D9;
}

.mx-wd-420 {
  max-width: 420px !important;
}


