<section>
  <div class="channel-list-header">
    <button class="unbuttonize hide-button" (click)="toggleList()" [class.rotated]="!isOpen"><img src="/assets/img/arrow_drop_down.svg" alt="Ausblenden" /></button>
    <img class="" src="/assets/img/workspaces.svg" alt="Workspace-Symbol" />
    <p>Channels</p>
  </div>
  @if (isOpen) {
    <div class="channel-list-container">
      @if (channelList) {
        @for (channel of channelList; track $index) {
          <div id="{{ channel.id }}" class="channel-item" >
            <a class="undecorate" [routerLink]="['/channel', channel.id]">
              <div class="channel-avatar-box">
                <img class="channel-img" src="/assets/img/tag-channel.svg" alt="Channel-Tag" />
              </div>
              <p>{{ channel.name }}</p>
            </a>
          </div>

        }
      }
      @else {
      <p>Keine Channels vorhanden</p>
      }
    </div>
  }
</section>

