<section>
  <div class="avatar-selection-container">
    <div>
      <a href="/auth/sign-in">
        <div class="btn-return"></div>
      </a>
      <span class="header">Wähle deinen Avatar</span>
    </div>

    <form [formGroup]="avatarForm" (ngSubmit)="onSubmit()">
      <div class="main-avatar-container">
        @if (selectedAvatar) {
          <img class="selected-avatar"  [src]="'assets/img/avatars/' + selectedAvatar" [alt]="selectedAvatar">
        } @else {
          <img class="selected-avatar" src="assets/img/profile.svg" alt="">
        }
        <span>userName</span>
      </div>


      <div>
        <h3>Choose your avatar... </h3>
        <div class="avatar-grid">
          <div *ngFor="let avatar of avatars" (click)="onAvatarSelect(avatar)" [class.selected]="selectedAvatar === avatar">
            <img [src]="'assets/img/avatars/' + avatar" [alt]="avatar">
          </div>
        </div>
      </div>

      <div>
        <h3>Or you can</h3>
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
        <div *ngIf="uploadPercent">Upload Progress: {{ uploadPercent | number:'1.0-0' }}%</div>
        <img *ngIf="uploadedAvatarUrl" [src]="uploadedAvatarUrl" alt="Uploaded Avatar">
      </div>

      <button class="btn-small" type="submit" [disabled]="!avatarForm.valid">Weiter</button>
    </form>
    <div class="modal-created">
      <img src="" alt="">
    </div>
  </div>
</section>
