<section>
  <div class="main-avatar-selection-container">
    <div>
      <a href="/auth/sign-in">
        <div class="btn-return"></div>
      </a>
      <span class="header">Wähle deinen Avatar</span>
    </div>
    <form [formGroup]="avatarForm" (ngSubmit)="onSubmit()">
      <div class="main-avatar-container">
        @if (selectedAvatar) {
        <img
          class="selected-avatar"
          (click)="setAvatarOnDefault()"
          [src]="'assets/img/avatars/' + selectedAvatar"
          [alt]="selectedAvatar"
        />
        } @else if (uploadedAvatarUrl) {
          <img class="selected-avatar"
          (click)="setAvatarOnDefault()"
          [src]="uploadedAvatarUrl" alt="Uploaded Avatar">
        } @else {
          <img class="selected-avatar" src="assets/img/profile.svg" alt="Unisex Profil" />
        }
        <span>userName</span>
      </div>

      <div class="select-avatar-box">
        <span>Aus der Liste wählen...</span>
        <div class="avatar-grid">
          <div
            *ngFor="let avatar of avatars"
            (click)="onAvatarSelect(avatar)"
            [class.selected]="selectedAvatar === avatar"
          >
            <img class="" [src]="'assets/img/avatars/' + avatar" [alt]="avatar" />
          </div>
        </div>
      </div>
      <div class="upload-box">
        <span>eigenes Bild verwenden</span>
        <input
          class="hidden"
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
        <button type="button" class="btn-secondary" (click)="fileInput.click()">
          Datei hochladen
        </button>
      </div>

      <div class="button-box">
        <button
        class="unbottunize btn-small bubble-full-button"
        type="submit"
        [disabled]="!avatarForm.valid"
      >
        Weiter
      </button>
      </div>
    </form>
  </div>
  <app-modal [visible]="showModal" [message]="message"></app-modal>
</section>
