<div [hidden]="!menuVisible">
  <div class="backdrop" (click)="onBackdropClick($event)">
    <div class="profil-dialog-box" [class.front-index]="this.profilDialog.profilVisible">
      <app-profil #profilDialog ></app-profil>
    </div>
    <div
      class="dialog menu"
      #dialog
      [@slideMenu]="menuVisible ? 'visible' : 'hidden'"
    >
      <div class="btn-close-box" (click)="close()">
        <button class="unbuttonize btn-close rectangle"></button>
      </div>
      <div class="link-box">
        <div class="undecorate" (click)="openProfilDialog()">
          <img src="/assets/img/account_circle.svg" alt="" />
          <span>Profil</span>
        </div>
        <div class="undecorate"
          ><img src="/assets/img/logout.svg" alt="" />
          <span>Log Out</span>
      </div>
      </div>
    </div>
  </div>
</div>
