@import "../../../styles/_breakpoints.scss";

.main-container {
    width: 398px;
    height: 371px;
    padding: 20px 16px 20px 16px;
    gap: 20px;
    border-radius: 20px 0px 20px 20px;
    opacity: 0px;
    background-color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >span {
        font-family: "Nunito";
        font-size: 20px;
        font-weight: 700;
      }
}

.add-person-btn {
    border-radius: 100px;
    max-width: 282px;
    width: 100%;
    padding: 12px 29px 12px 29px;
    display: flex;
    gap: 15px;
    cursor: pointer;
  
    >span {
      font-size: 18px;
      font-weight: 400;
    }
  
    .add-person-bg {
      background-color: #eceefe;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  
    .add-person-img {
      background-image: url("/assets/img/person_add_default.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  
    &:hover {
      background-color: #eceefe;
      color: #535af1;
    }
  
    &:hover span {
      font-weight: 700 !important;
    }
  
    &:hover .add-person-img {
      background-image: url("/assets/img/person_add_clicked.svg");
    }
  }

  .member-list-box {
    max-width: 398px;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 16px;
    box-sizing: border-box;
    gap: 20px;
  
    >div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      >span {
        font-size: 18px;
        font-weight: 400;
      }
  
      >img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    }
  }