<div class="search-container">
  <div class="search-input" (click)="focusInput()">
    <div class="tokens-area">
      @for (member of selectedMembers; track member.id) {
        <div class="member-token">
          <img [src]="member.avatarUrl">
          <span>{{ member.username }}</span>
          <button
            class="remove-token"
            (click)="removeMember(member); $event.stopPropagation()">
            <img src="/assets/img/close.svg">
          </button>
        </div>
      }
      <div>
        <input
          #searchInput
          type="text"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearch($event)"
          placeholder=""
          class="outline-none form-input"
        />
      </div>
    </div>


  @if (showDialog) {
    <div class="search-dialog">
      @if (loading) {
        <p>Suche...</p>
      } @else if (results.length) {
        <ul class="results-list">
          @for (member of results; track member.id) {
            <li (click)="selectMember(member)">
              <img [src]="member.avatarUrl"> {{ member.username }}
            </li>
          }
        </ul>
      } @else {
        <p>Keine Ergebnisse</p>
      }
    </div>
  }
</div>
