<div class="main-container">
  <header>
    <span># Entwicklerteam </span>
    <img src="/assets/img/close.svg" alt="Close Button" />
  </header>

  <div class="transform-container" [class.active]="isInputActive">
    <div>
      <span>Beschreibung</span>
      <button
        class="transform-trigger"
        (click)="toggleInput()"
        [class.active]="isInputActive"
      >
        @if (isInputActive) {
          <img
        [src]="currentCheckImageUrl"
        (click)="toggleImage()"
        />
        } @else {
          <img
          [src]="currentEditImageUrl"
          (click)="showEditClickedImage()"
          />
        }
      </button>
    </div>

    @if (!isInputActive) {
    <span class="content">
      {{ textContent || "Click to edit" }}
    </span>
    } @if (isInputActive) {
    <textarea
      #inputField
      [value]="content"
      [attr.rows]="calculateRows()"
      [(ngModel)]="textContent"
      (ngModelChange)="calculateRows()"
      (input)="updateContent($event); onInput()"
      (blur)="onBlur()"
      type="text"
      class="transform-input outline-none"
    ></textarea>
    }
    <div class="line"></div>
    <div class="creator-box">
      <span>Erstellt von</span>
      <span class="creator">Noah Braun</span>
    </div>
  </div>


  <div>
    <div>
      <span>Channel-Name</span>
      <img src="" alt="Button Bearbeiten" />
    </div>
    <span> # Entwicklerteam</span>
  </div>

  <div>
    <span>Mitglieder</span>
    <div>
      <img src="" alt="Member-Avatar" />
      <span>Max Musterman</span>
    </div>
    <div class="btn">
      <img src="" />
      <span>Mitglieder hinzufügen</span>
    </div>
  </div>

  <button>Channel verlassen</button>
</div>
