@import "../../../styles/_breakpoints.scss";

.transform-container {
  position: relative;
  max-width: 762px;
  width: 100%;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: all 0.3s ease;
  background: white;
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  > span {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
  }

  &.active {
    border-color: transparent;
    padding: 0;

    .transform-input {
      opacity: 1;
      transform: scale(1);
    }
  }
  @include sm {
    max-width: 430px;
    width: 100%;
  }
}

.transform-trigger {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: #eceefe;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.3s ease;
  z-index: 1; // Changed from 2 to 1
  cursor: pointer;
  &:hover {
    background: #f0f0f0;
  }
}

.content {
  color: #333;
  transition: opacity 0.2s ease;
}

.transform-input {
  width: 100%;
  height: auto;
  max-width: 398px;
  border: 1px solid #adb0d9;
  border-radius: 40px;
  padding: 18px 20px 18px 20px;
  font-size: inherit;
  background: white;
  transform: scale(0.95);
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 2; // Added z-index to ensure input is above button
  resize: none;
  overflow-y: hidden;
  font-family: "Nunito";
  display: block;
  box-sizing: border-box;
  white-space: pre-wrap; // Preserves newlines and wraps text
  overflow-wrap: break-word; // Breaks long words if they overflow
  overflow: hidden;
  &:focus {
    outline: none;
    border-color: #535af1;
  }
  @include sm {
    max-width: 300px;
  }
}

.main-container {
  background-color: #ffffff;
  max-width: 872px;
  min-width: 319px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  box-shadow: 0px 6px 10px 0px #00000033;
  border-radius: 0px 30px 30px 30px;
  @include sm {
    max-width: 759px;
    min-width: 319px;
    margin-top: 90px;
    overflow: hidden;
    padding: 20px 16px;
    width: unset;
    height: 100%;
    border-radius: unset;
  }
}

header {
  @include sm {
    max-width: 759px;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 10px 0px #00000014;
  }
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 90px;
  justify-content: space-between;
  padding: 40px 16px 10px 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 10;
  > span {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 700;
  }
}

.line {
  border: 1px solid #adb0d9;
  width: 75%;
}

.creator-box {
  display: flex;
  flex-direction: column !important;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
  > .creator {
    color: #535af1;
    font-size: 20px;
    font-weight: 400;
  }
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.member-list-box {
  max-width: 398px;
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #adb0d9;
  padding: 20px 16px;
  box-sizing: border-box;
  gap: 20px;
  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > span {
      font-size: 18px;
      font-weight: 400;
    }
    > img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
  }
}

.add-person-btn {
  border-radius: 100px;
  max-width: 282px;
  width: 100%;
  padding: 12px 29px 12px 29px;
  display: flex;
  gap: 15px;
  > span {
    font-size: 18px;
    font-weight: 400;
  }
  .add-person-bg {
    background-color: #eceefe;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  .add-person-img {
    background-image: url("/assets/img/person_add_default.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  &:hover{
    background-color: #eceefe;
    color: #535af1;
  }
  &:hover span {
    font-weight: 700 !important;
  }
  &:hover .add-person-img {
    background-image: url("/assets/img/person_add_clicked.svg");
  }
}

.btn {
  max-width: 230px;
}

.box-header-big {
  font-size: 24px;
  font-weight: 700;
}

.box-header-small {
  font-size: 18px;
  font-weight: 700;
}
