<div class="main-container" [hidden]="editChannelisOpen">
  <header>
    <span># Entwicklerteam </span>
    <img src="/assets/img/close.svg" alt="Close Button" />
  </header>

  <form [formGroup]="editChannelName" (ngSubmit)="onSubmit('editName')">
    <div class="transform-container" [class.active]="isInputNameActive">
      <div>
        <span class="box-header-small">Channel-Name </span>
        <button
          class="transform-trigger"
          (click)="toggleInput('inputName')"
          [class.active]="isInputNameActive"
          type="submit"
        >
          @if (isInputNameActive) {
            <div class="save-button"></div>
          } @else {
            <div class="edit-button"></div>
          }
        </button>
      </div>

      @if (!isInputNameActive) {
      <span class="channel-name"> # {{ selectedChannel?.name }} </span>
      } @if (isInputNameActive) {
      <input
        #inputField
        id="channelName"
        formControlName="name"
        [(ngModel)]="textContent"
        type="text"
        class="transform-input outline-none"
      />
      }
    </div>
  </form>
  <form
    [formGroup]="editChannelDescription"
    (ngSubmit)="onSubmit('editDescription')"
  >
    <div class="transform-container" [class.active]="isInputDescriptionActive">
      <div>
        <span class="box-header-small">Beschreibung</span>
        <button
          class="transform-trigger"
          (click)="toggleInput('inputDescription')"
          [class.active]="isInputDescriptionActive"
          type="submit"
        >
          @if (isInputDescriptionActive) {
            <div class="save-button"></div>
          } @else {
            <div class="edit-button"></div>
          }
        </button>
      </div>

      @if (!isInputDescriptionActive) {
      <span class="content">
        {{ textContent || "Click to edit" }}
      </span>
      } @if (isInputDescriptionActive) {
      <textarea
        #inputField
        id="channelDescription"
        formControlName="description"
        [value]="textContent"
        [attr.rows]="calculateRows()"
        [(ngModel)]="textContent"
        (input)="updateContent($event); onInput()"
        type="text"
        class="transform-input outline-none"
      ></textarea>
      }
      <div class="line"></div>
      <div class="creator-box">
        <span>Erstellt von</span>
        <span class="creator">Noah Braun</span>
      </div>
    </div>
  </form>



  <div class="member-list-box">
    <span class="box-header-big">Mitglieder</span>

    @for (member of selectedChannel!.members; track member.id) {
      <div>
        <img [src]="member.avatarUrl" alt="Member-Avatar"/>
        <span> {{ member.username }}</span>
      </div>
    } @empty {
      <span>Keine Mitglieder vorhanden.</span>
    }

    <div class="add-person-btn">
      <div class="add-person-bg">
        <div class="add-person-img"></div>
      </div>

      <span>Mitglieder hinzufügen</span>
    </div>
  </div>

  <button class="bubble-full-button btn">Channel verlassen</button>
</div>


